<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tblbuildings API Demo</title>
    <link rel='stylesheet' href='./stylesheets/bootstrap.min.css'/>
</head>
<body>
<%- include('../views/header'); %>

<div class="container">
    <h2>Oops, Something bad happened</h2>
    <p>Please ensure your config.js is set up correctly with your API KEY and that the API_HOST property is pointing at tblbuildings.com</p>
    <p>
</div> <!-- /container -->
</body>
</html>
