<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tblbuildings API Demo</title>
    <link rel='stylesheet' href='./stylesheets/bootstrap.min.css'/>
</head>
<body>
<%- include('../views/header'); %>

<div class="container">
    <div class="row">
        <h1>Sites IAQ</h1>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Site name</th>
            </tr>
            </thead>
            <tbody>
            <% sitesIaq.forEach(function(site){ %>
                <tr>
                    <th scope="row"><%= site.id %></th>
                    <td><%= site.name %></td>
                </tr>
                <% if(site?.iaq.length) { %>
                    <%- include('../views/iaq-table-details', {site: site}); %>
                <% } %>
            <% }); %>

            </tbody>
        </table>

    </div>
</div>
</body>
</html>
