<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tblbuildings API Demo</title>
    <link rel='stylesheet' href='./stylesheets/bootstrap.min.css'/>
</head>
<body>
<%- include('../views/header'); %>

<div class="container">
    <div class="row">
        <h1><a class="" href="/sites">Sites</a></h1>
        <h1><a href="/iaq">IAQ</a></h1>
        <h1><a href="/errorResponse">Error example</a></h1>
    </div>
</div>
</body>
</html>
